<footer class="footer bg-dark text-white py-5">
  <div class="container">
    <div class="row">
      <!-- Información General -->
      <div class="col-md-4">
        <h4 class="fw-bold">IKOMI PERU</h4>
        <p>
          Empresa importadora y comercializadora de repuestos para todo tipo de vehículos con calidad y a precios de mercado.
        </p>
        <div class="social-icons d-flex gap-3">
          <a href="#" class="text-white"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white"><i class="fab fa-facebook"></i></a>
          <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-skype"></i></a>
          <a href="#" class="text-white"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>

      <!-- Información de Contacto -->
      <div class="col-md-8">
        <div class="row">
          <!-- Dirección -->
          <div class="col-md-12 mb-4">
            <div class="info-card text-center">
              <i class="material-icons text-danger">place</i>
              <h5 class="mt-2">Dirección</h5>
              <p>
                Avenida Nicolás Ayllón 3384<br>
                Carretera Central - Paradero Rayovac<br>
                Lima - Ate
              </p>
            </div>
          </div>
          <!-- Correo -->
          <div class="col-md-6">
            <div class="info-card text-center">
              <i class="material-icons text-danger">mail</i>
              <h5 class="mt-2">Correo</h5>
              <p>
                ventasikomiperu.com<br>
                infoikomiperu.com
              </p>
            </div>
          </div>
          <!-- Teléfonos -->
          <div class="col-md-6">
            <div class="info-card text-center">
              <i class="material-icons text-danger">phone</i>
              <h5 class="mt-2">Teléfonos</h5>
              <p>
                985 068 416<br>
                981 453 306
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Línea inferior -->
    <div class="row mt-4">
      <div class="col text-center">
        <p class="m-0">
          Copyright © 2024 <a href="#" class="text-danger">Grupo IKOMI PERU</a>. Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</footer>
