<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="LOGO_IKOMI.png" alt="IKOMI Perú" height="40">
    </a>

    <!-- Botón de menú para móviles -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Enlaces del Navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">
            <i class="material-icons align-middle">home</i> Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">
            <i class="material-icons align-middle">business</i> Nosotros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">
            <i class="material-icons align-middle">work</i> Servicios
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#products">
            <i class="material-icons align-middle">build</i> Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#brands">
            <i class="material-icons align-middle">verified_user</i> Marcas
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">
            <i class="material-icons align-middle">contact_mail</i> Contáctenos
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
